# Ignore Python virtual environments
venv/
ENV/
env/
.venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variable file
.env


# PyInstaller build folders
build/
dist/
*.spec

